<div id="footer">
  <p><%= link_to 'Home', home_path %>| <%= link_to 'Example', example_path %> |<%= link_to 'Page', page_path %> | <%= link_to 'Another Page', ano_page_path %> | <%= link_to 'Contact', contact_path %></p>
  <p>Copyright &copy; shadowplay_2 | <%= link_to 'HTML5', "http://validator.w3.org/check?uri=referer" %> | <%= link_to 'CSS', "http://jigsaw.w3.org/css-validator/check/referer" %> | <%= link_to 'design from HTML5webtemplates.co.uk', "http://www.html5webtemplates.co.uk" %></p>
</div>