<div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h5>January 1st, 2011</h5>
        <p>2011 sees the redesign of our website. Take a look around and let us know what you think.<br /><%= link_to 'Read more', '#' %></p>
        <h5>January 1st, 2011</h5>
        <p>2011 sees the redesign of our website. Take a look around and let us know what you think.<br /><%= link_to 'Read more', '#' %></p>
        <h3>Useful Links</h3>
        <ul>
          <li><%= link_to 'link 1', '#'%> </li>
          <li><%= link_to 'link 2','#'%></li>
          <li><%= link_to 'link 3','#'%></li>
          <li><%= link_to 'link 4','#'%></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/assets/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>